
/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE RESET
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #CONTAINER
        #MEDIA QUERIES
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                #SITE-BRANDING (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */
/* #TYPOGRAPHY  */
/* Reference
	62.5%  => 10px
	68.8%  => 11px
	75%    => 12px
	81.3%  => 13px
	87.5%  => 14px
	100%   => 16px
	112.5% => 18px
	125%   => 20px
*/

/* BASE START */

/* HTML5 */

header, footer, aside, nav, main, figure, section, article {
    display: block;
}
/* BASE RESET */
* {
    box-sizing: border-box;
}

body { margin: 0;}

/* BASE CONTENT */

/* background-image: linear-gradient(45deg, White 35.71%, Turquoise 35.71%, Turquoise 50%, White 50%, White 85.71%, Turquoise 85.71%, Turquoise 100%); */

/* BASE TYPOGRAPHY */

/* BODY */
body {
    font-family: 'interstate';
    font-size: 125%; /*this sets 1em = 16px*/
    color: rgb(56, 69, 96);
    line-height: 1.6;
}

/* HEADINGS */
h1, h2, h5, h6 {
    font-family: 'rift-soft', sans-serif;
}

h1 {
  font-size: 718%;
  line-height: .8;
}

h2 {
  font-size: 348%;
  margin: 0;
}

h5 {
  font-size: 125%;
  margin: 0;
}

h6 {
  font-size: 225%;
  margin: 0;
  font-weight: normal;
}

h3, h4 {
    font-family: 'interstate';
}

h3 {
  font-size: 225%;
  line-height: 1.25;
  margin: 0;
}

h4 {
  font-size: 125%;
  line-height: 1;
}

/* TYPE SPECIMEN */
.hero-headline {
    margin: 0;
    margin-bottom: .1em;
    color: rgb(225,72,30);
}

.runninghead {
    margin: 0;
    margin-bottom: .5em;
    color: rgba(121,196,167);
}

.light-navy {
    color: rgba(124, 141, 178);
}

/* PARAGRAPHS */
p {
  font-family: 'interstate',sans-serif;
    margin: 0 0 1em 0;
    font-size: 150%; 
    color: rgb(56, 69, 96);
    line-height: 1.6;
}

/* LINKS */
a{
    color: rgba (0, 51, 102, 1);
    text-decoration: none;
}

a:hover {
    color: rgba (0, 0, 51, 1);
    text-decoration: underline;
}

/* MEDIA */
img {
    max-width: 100%;
    height: auto;
}

.image-pull-left {
    max-width: none;
    display: block;
    width: 150%;
    margin-left: -50%;
}

.image-half-column {
    max-width: 60%;
    margin-top: 1em;
    margin-bottom: 2em;
}

/* HELPERS */
@media (min-width: 768px){
    .hideonlarge {visibility: hidden;}
}

/* BUTTONS */
.button,
button,
input[type="submit"] {
    font-size: 1em;
    display: inline-block;
    background-color: rgb(121,196,167);
    color:  rgb(56, 69, 96);
    padding: 1em 1.5em;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1;
    text-align: center;
}

/* .button:hover,
button:hover,
input[type="submit"]:hover {
    color:  rgb(121,196,167);
    background-color: rgb(56, 69, 96);
    text-decoration: none;
} */

/* BLOCKQUOTES */

/* HELPERS */

/* BASE LAYOUT */

/* CONTAINERS */
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* MEDIA QUERIES
    #DEFAULT/#SMALL (Mobile First) 0-767px 
    #MEDIUM min-width: 768px+
    #LARGE min-width: 1000px+
    #EXTRALARGE min-width: 1200px+
*/

 /* Small Screens+ (Tablets) */
 body {
     font-size: 87.5%;
 }
 .container {
    padding: 0 1em;
}

 /* Mid Sized Screens+ (Tablets) */
 @media (min-width: 768px) {
    body {
        font-size: 87.5%;
    }
    .container {
        padding: 0 1em;
    }
 }

 /* Large Sized Screens+ (Laptops) */
 @media (min-width: 1000px){
    body {
        font-size: 100%;
    }
    .container {
        padding: 0 1em;
        max-width: 1000px;
        margin: 0 auto;
    }
 }

 /* Extra Large Sized Screens+ (Desktops) */
 @media (min-width: 1200px) {
    body {
        font-size: 112.5%;
    }
    .container {
        padding: 0 1em;
        max-width: 1200px;
        margin: 0 auto;
    }
 }

/* GRID SYSTEM */

.column {
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (min-width: 768px) {
    .row { display: flex;
        margin-left: -1%;
        margin-right: -1%;}
    .column {
        flex-grow: 0;
        margin-left: 1%;
        margin-right: 1%;
    }

    .one-whole {width: 100%}
    .one-half { width: 46%; }
    .one-third { width: 31.333%; }
    .two-thirds { width: 58.6666%;}
    .one-fourth { width: 21%; }
    .push-one-fourth { margin-left: 26%}
    .push-one-third { margin-left: 33.3333%}
    .push-two-third { margin-left: 66.6666%}

    .row.centered { justify-content: center; }

    .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

/* SITE STRUCTURE */

/* HEADER */

.site-header {
    padding: 1em .5em;
    background-color: rgb(56, 69, 96);
}

@media (min-width: 768px) {
    .site-header .container{
        display: flex;
        justify-content: space-between;
    }
}

.site-header a,
.site-footer a {
    color: white;
    text-decoration: none;
}

/* SITE ID (Logo) */

.site-id .logo {
    margin: 0;
    text-align: center;
    max-width: 200px;
}

.site-id a {
    display: inline-block;
    padding: .75em 0;
}

/* SITE NAV (Top Nav) */

.site-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.site-nav li {
    list-style: none;
}

.site-nav a {
    display: block;
    padding:0.5em;
}


/* MENU BUTTON */
.menu-button {
    position: absolute;
    left: -9999px;
    padding: .5em;
}

.menu-button:hover {
    cursor: pointer;
}

.menu-button::selection {
    background: transparent;
}

/* TOGGLE NAV */

@media (max-width: 767px) {

    .toggle-nav .site-id h1 {
        text-align: left;
    }
    .toggle-nav .menu-button {
        position: absolute;
        left: auto;
        top: 2em;
        right: 1em;
    }
    .toggle-nav .site-nav ul li {
        display: block;
        text-align: center;
    }
    /* Hide Nav on Small Screens */
    .toggle-nav .site-nav ul {
        position: absolute;
        max-height: 0;
        left: -9999px;
        margin-top: 1em;
    }
    /* Show Nav on Small Screens when Expanded Class is Toggled */
    .toggle-nav.expanded  .site-nav ul {
        position: static;
        left: auto;
        display: block;
    }
    .toggle-nav.expanded .site-nav a {
        background: rgba(0,51,102,1);
        color: rgba(255,255,255,1);
        margin: .5em 0;
        padding: 1em;
    }

    /* Animating Nav */
    .toggle-nav .site-nav ul {
        transition: .4s all ease-out;
        max-height: 0px;
    }

    .toggle-nav.expanded .site-nav ul {
        max-height: 500px;
    }
}

/* NAVICON */
.nav-icon {
    color: rgba(0,0,0,0);
    padding:0;
    
}
.nav-icon::after {
    content: "\2630";
    display: inline-block;
    font-size: 1.5em;
    color: rgba(0,0,0,1);
    transform: rotate(0deg);
    transition: .2s all ease-out;
}

.expanded .nav-icon::after {
    content: "\2715";
    transform: rotate(-90deg);
    transition: transform .4s ease-out;
}

/* MAIN */

.hero {
    text-align: left;
    padding: 6em 1em;
}

.hero p {
    margin-left: auto;
    margin-right: auto;
}

.hero h2 {
    font-size: 3em;
    line-height: 1;
}

/* FOOTER */
.site-footer {
    padding: 2em .5em 2em .5em;
    background-color: rgb(56, 69, 96);
}

.site-footer img {
    max-width: 25px;
}

/* DEMO */

.demo .column {
    background: rgba(0, 0, 0, 0.125);
    padding: 1em;
    text-align: center;
}