html,
body {
  position: relative;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 85%;
  padding: 0;
} 

body {
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

section { height: auto;}

/* Navigation */
header {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
}

.site-nav {
  margin-top: .5em;
  .site-identity a svg {
    fill: $turq; color: $turq;
    margin: 0; padding: 6px 0 0 0;
    width: 100px;
    max-width: 100px;
  }
  ul li a {
    font-size: .75em;
    padding: 2px 10px 0 0;
    margin-left: 0em;
  }
}

@media (min-width: 460px) {
  .site-nav{
    .site-identity a svg {
      width: 225px;
      max-width: 225px;
      margin: 0; padding: 0;
    }
    ul li a {
      font-size: 14px;
      padding: .7em 0 .7em 0 ;
      margin-left:2em;
    }
  }
}

.site-nav li a,
.footer-nav li a {
  display: inline-block;
  text-align: center; 
  font-family: $type-body;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  text-decoration: none;
  position: relative;
  color: black;
  &:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 8px;
    right: 0;
    background-color: $turq;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
  }
  &:hover,
  &:focus {
    &:after{
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}

.site-nav.white {
  li a {color:white;}
  .site-identity svg {fill: white;}
}

.site-identity {
  h1 {
      font-size: 2.5em;
      visibility: hidden;
      margin-top: -.25em;
      display: none;
  }
}

/* footer */
footer {
  background-color: $navy;
  padding: .5em 0;

  .links {
    display: flex;
  }
}

footer .footer-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  ul {
    display: flex;
    list-style: none; 
    margin: 0; padding: 0;
    li a {
    color: white;
    font-size: .75em;
    padding: 2px 10px 0 0;
    margin-left: 0em;
    } 
  }
}

@media (min-width: 460px) {
  footer .footer-nav ul {
    li a {
      font-size: 14px;
      padding: .7em 0 .7em 0 ;
      margin-left:2em;
    }
  }
}

/*Secctions*/

#above-work {
  padding: 2em 0 1em 0;
  // width: 100%;
  background-color: $navy;
  color: white;
  height: 35vh;
  h2.sectionhead {color: white; margin: 0 0 -1em 0;}
  .container {width: 100%;}
}

.page-top {
  width: 100%;
  height: 40vh;
  padding-top: 5vh;
  &.first 
  {background-color: rgba($rust,.1); 
    h2 {color: $rust;}
  }
  &.second
  {background-color: rgba(#76571F,.1); 
    h2 {color: #76571F;}
  }
  &.third
  {background-color: rgba($gold,.1); 
    h2 {color: $gold;}
  }
  &.fourth
  {background-color: rgba(#708842,.1); 
    h2 {color: #708842;}
  }
  &.fifth
  {background-color: rgba(#398165,.1); 
    h2 {color: #398165;}
  }
  &.ninth
  {background-color: rgba($grey-2,.5); 
    height: 30vh;
    h2 {color: $grey-2;}
  }
}

.case-study { padding-bottom: 5em;}

.to-white { background-image: linear-gradient(white, $white-1);}
.white-bg {background: $white-1;}

ul.courses {
  padding: 0;margin: 0;
  li {
    list-style: none;
    padding: 2em 0 1.5em 0;
    margin: 1em 0;
    text-align: center;
    transition: all .5s ease;
    a {
      color: white;
      font-size: 2em; font-weight: 600; text-decoration: none;
    }
    &.first {background-color: $rust;}
    &.second {background-color: #76571F;}
    &.third {background-color: $gold;}
    &.fourth {background-color: #708842;}
    &.fifth {background-color: #398165;}
    &.sixth {background-color: $turq;}
    &.seventh {background-color: $navy;}
    &.eighth {background-color: $grey-3;}
    &.ninth {background-color: $grey-2;}
  }
  li:hover {
    box-shadow: 3px 5px 10px rgba($grey-3,.3), 0 10px 10px rgba($grey-2,0.2);
  }
}
