// BUTTONS

button {
    font-size: inherit;
    font-family: $type-body;
}

.button,
a.button,
input[type=submit], 
button {
    background-image: url(../img/buttons/pink_round_1.png);
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    width: 96px;
    color: #ffffff;
    text-decoration:none;
    font-weight: 600;
    font-size: 75%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    justify-content: center;
    text-align: center;
    line-height: 40px;
    margin: .5em .5em 1em 0em;
    border: none;
    &:hover {
        background-image: url(../img/buttons/pink_round_2.png);
    }
}

button.alt, 
a.button.alt {
    background-image: url(../img/buttons/pink_round_3.png);
    color: $pink;
    &:hover {
        background-image: url(../img/buttons/pink_round_4.png);
    }
}

.link-with-arrow {
    display: flex;
    &::after {
    content: "";
    background-image: url(../img/buttons/60x40_pink_arrow_1.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    width: 65px;
    margin-top: 13px;
    }
}