img {
    max-width: 100%;
    height: auto;
}

.animal-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5em;
    img {
        padding-right: 10px;
    }
}

.icons {
    display: inline-block;
    max-width: 17px;
    margin-right: 10px;
}

.icon-list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 30px;
    li {
        position: relative;
        margin: 0;
        padding: 0;
    }
    address {display: inline-block;}
    .icons {
        position: absolute;
        left: -24px;
        top: 3px;
    }
}

#mango {
    position: absolute;
    max-width: 75%;
    top: -20%;
    left: 46%;
    bottom: 100%;
    transform: rotate(2deg);
}

.mango-wrapper {
    overflow: hidden;
    width: 100%;
    height: 175px;
    // border: 1px solid red;
    position: relative;
    top: -120px;
}

.hero-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
}

#hero-gif {
    max-width: 300px;
    position: absolute;
    left: 60%;
    bottom: 10%;
    z-index: 1;
}

.map {margin: 1em 0;}

.koda {
    max-width: 300px;
}


@media (min-width: $breakpoint-small + 1px) {
    #mango {
        position: absolute;
        max-width: 50%;
        left: 50%;
        // bottom: 85%;
        transform: rotate(2deg);
    }
    #hero-gif {
        max-width: 400px;
        position: absolute;
        left: 65%;
        bottom: 10%;
        z-index: 1;
    }
}

@media (min-width: $breakpoint-large) {
    #hero-gif {
        max-width: 430px;
        position: absolute;
        left: 65%;
        bottom: 10%;
        z-index: 1;
    }
    .map {
        position: relative;
        img { margin-top: -10%;}
        }
    .footer-logo {
        display: block;
        position: absolute;
        max-width: 130px;
        left: calc(4% - 130px);
        text-align: center;
    }
    #mango {
        position: absolute;
        max-width: 460px;
        left: 72%;
        bottom: 90%;
        transform: rotate(2deg);
    }
    .mango-wrapper {
        top: -160px;
    }
    .push-out {position: relative;}
    .koda {
        display: inline-block;
        position: absolute;
        max-width: 30%;
        transform: translate(260%, -140%);
    }
}