body {
    padding: 2em 5em;
    font: 200 40px/50px realist, sans-serif;
    color: #999;
  }

  /* Rotate Text Hero */
  p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  b {
    float: left;
    overflow: hidden;
    position: relative;
    top: -1em;
    left: 0;
    height: 50px;
    font: 700 40px/50px dinosaur, sans-serif;
  }
  span {
    display: inline-block;
    color: #61CBE1;
    position: relative;
    white-space: nowrap;
    top: 0;
    right: 0;
    animation: move 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
  }
  .rotate-hero-text::after {
    display: block;
    position: relative;
    top: 100px;
    left: 0;
    content: "";
    width: 600px;
    border: 1px solid grey;
  }
  
  @keyframes move {
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }

  section {
    height: 100vh;
  }