html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
}

/* Typography */
#show-me {
  position: absolute;
  top: 50%;
  left: 4em;
  z-index: 100;
  margin-top: -6em;
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.swiper-slide {
  text-align: center;
  /* background: rgb(175, 175, 175); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-image {
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 0 4em;
    text-align: left;
}

.swiper-image h1 {
  transition: all .5s ease-out .25s;
  transform: translateY(100%);
  clip-path: inset(0 0 100% 0);
 }
 .swiper-slide-active .swiper-image h1 {
  transform: translateY(0);
  clip-path: inset(0 0 0 0);
 }
  
 .swiper-image .button {
  opacity: 0;
  transition: all .5s ease-out .5s;
 }
 .swiper-slide-active .swiper-image .button {
  opacity: 1;
 } 

/* Slides */
.kpc {
  background-image: url('../img/KPC_1x1_2.jpg');
  box-shadow:inset 0 0 0 2000px rgba(51, 61, 71, 0.3);
}

.haven-solus {
  background-image: url('../img/prearrival_2.jpg');
  /* color: white; */
  box-shadow:inset 0 0 0 2000px rgba(51, 61, 71, 0.3);
}

.prime {
  background-image: linear-gradient(0deg, rgba(195, 157, 77, 0.3), rgba(14, 99, 144, 0.3)), url('../img/prime_promo.jpg');
}

.two-ladies {
  background-image: url('../img/2ladiesbox.jpg');
  box-shadow:inset 0 0 0 2000px rgba(48, 36, 27, 0.3);
}

.podcast-bookcovers {
  background-image: url('../img/LianaYoung_ThisIsLove_1.jpg');
  /* color: white; */
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.dark .swiper-image h1,
.dark .swiper-image p {
  color: white;
}

.dark .swiper-image .button {
  color: white;
  border-color: white;
}

/* Buttons */
a.button {
  border: 1px solid black;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  display: inline;
  width: fit-content;
  padding: .75em 1em;
  text-decoration: none;
}

a.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

a.button-white {
  border: 1px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  display: inline;
  width: fit-content;
  padding: .75em 1em;
  text-decoration: none;
}

a.button-white:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Swiper Buttons */
.swiper-button-prev {
    color: rgba(255,255,255,1);
    top: 70%;
    left: auto;
    right: 30%;
    /* border: 1px solid white;
    border-radius: 100%;
    padding: 0 .55em; */
}

.swiper-button-next {
  color: rgba(255,255,255,1);
  top: 70%;
  left: auto;
  right: 25%;
}

[data-slidecolor="light"] .swiper-button-prev,
[data-slidecolor="light"] .swiper-button-next, [data-slidecolor="light"] #show-me {
  color: rgba(0,0,0,1);
}

[data-slidecolor="dark"] .swiper-button-prev,
[data-slidecolor="dark"] .swiper-button-next, [data-slidecolor="dark"] #show-me {
  color: rgba(255,255,255,1);
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 1.5em;
}

/* :root{
  --swiper-navigation-size: 1em;
} */

/* Progress Indicator
:root {
	font-size: 20px;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--green: #2ecc71;
	--white: #ffffff;
	--grey-light: #f2f7f9;
	--grey: #ecedf3;
	--black: #080808;
	--black-blue: #1f2029;
	--black-blue-light: #353746;
	--black-blue-light-2: #404255;
	--black-blue-light-3: #4b4d64;
	--black-light: #424455;
}

.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--grey);
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
} */

