html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(175, 175, 175);

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-image {
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.haven-solus {
  background-image: url('../img/prearrival_2.jpg');
  color: white;
}

.swiper-button-prev {
    color: rgba(255,255,255,1);
    top: 70%;
    left: auto;
    right: 30%;
}

.swiper-button-next {
  color: rgba(255,255,255,1);
  top: 70%;
  left: auto;
  right: 20%;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 1em;
}

/* :root{
  --swiper-navigation-size: 1em;
} */